
.navContainer {
  padding: 1rem;
}

.navList {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.navItem {
  margin-right: 2rem; 
}

.navItem a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: 2px solid white; 
  border-radius: 8px; 
  background-color: #0070f3; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navItem a:hover {
  background-color: white; 
  color: #0070f3; 
}




.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
  width: 100%;
}

.image {
  max-width: 100%; 
  height: auto; 
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
